body {
    color: white;
    background-color: black;
    text-align: center;
}

a {
    color: lightseagreen;
}

#camp {
    margin-bottom: 20px;
    margin-top: 20px;
}

h1 {
    font-family: 'Eater', sans-serif;
    font-size: 70px;
}

p {
    font-size: 30px;
}

a {
    font-size: 30px;
}

#copi, #reco {
    color: lightslategrey;
}

#copi {
    float: right;
    font-size: 30px;
}

#main-p {
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
}